/* @import url(./reset.css); */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700,italic&display=swap);

body {
  padding: 0 30px;
  background-color: #222;
  color: #fff;
  font-family: "Montserrat";
}

a {
  color: yellow;
}

.main-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #7285b7;
}

.category-title {
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ff9da4;
}

.tag {
  margin-bottom: 1rem;
}
.tag::after {
  content: "";
  margin: 1rem 0 1.5rem;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #444;
}

img {
  width: 100%;
  max-width: 150px;
}
video {
  width: 100%;
  max-width: 320px;
}

.tag-title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.tag-title span {
  color: #93b482;
  text-transform: uppercase;
}

.example {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.code{
  padding: 0.75em;
  display: block;
  background-color: #111;
  font-size: 1rem;
}
.code p {
  margin: 0;
}
.code p:not(:last-child){
  margin-bottom: 0.25rem;
}

.code-multiline {
  padding-left: 1.5rem;
}

.code-tag {
  color: #7285b7;
}
.code-tag-name {
  color: #ff9da4;
}
.code-tag-attribute {
}
.code-tag-attribute-value {
  color: #93b482;
}
.comment {
  color: #7285b7;
}